/* フォントのインポート */
@import url(http://fonts.googleapis.com/css?family=Raleway);

:root {
  --main-color: dodgerblue;
}

* {
    /* 無駄な余白をリセット */
    margin: 0;
    padding: 0;
}

html, body {
  overflow-x: hidden;
  /* フォントの設定 */
  font: bold 1.2em/60px 'Raleway', sans-serif;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
html::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

/* hrタグのデザイン */
.next-line {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
  opacity: .5;
  margin: 20px 0 70px 0;
}
.next-line:before {
	content: '';
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.next-line:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}

.active-link {
  border-bottom: solid 2px var(--main-color);
  padding-bottom: 3px;
}

/* Header */

header {
  position: fixed;
  width: 100vw;
  height: 70px;
  background-color: rgba(255, 255, 255, .85);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-around;
  z-index: 99;
}

header .header-left-content {
  display: flex;
}

.header-left-content .page-title {
  margin-left: 40px;
}

.header-left-content .logo {
  width: 55px;
  height: 55px;
  min-width: 55px;
  margin: auto 0 auto 30%;
  border-radius: 50%;
  border: solid 2px rgba(200, 202, 206, .7);
  box-shadow: 2px 2.5px 4px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.header-left-content .logo img {
  width: 100%;
  transform: scale(1.2);
}

header .global-nav {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  height: 60px;
  min-width: 300px;
  margin: auto 0;
  bottom: 0;
}

header .global-nav .nav-item {
  width: 100%;
  text-align: center;
  position: relative;
}

header .global-nav .nav-item:not(:last-child):before {
  content: '';
  position: absolute;
  right: 0;
  top: 12px;
  display: inline-block;
  width: 2px;
  height: 40px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 40%;
}

header .global-nav .nav-item a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition-duration: .6s;
}

header .global-nav .nav-item a:hover {
  font-size: 1.4em;
  opacity: .6;
}

header .global-nav .nav-item #extra:hover {
  transform: rotate(360deg);
}


/* Main Contents */

.contents-wrapper {
  width: 100vw;
}

.contents-wrapper:not(.home) {
  margin-top: 85px;
}

.contents-wrapper main {
    width: 100%;
}

.section-title, .section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 2.7rem;
  letter-spacing: 8px;
  margin-top: 30px;
}

.section-subtitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -40px;
}

.about-top {
  width: 100vw;
  height: 100vh;
}

.about-top figure {
  position: relative;
  width: 100vw;
  height: 100%;
}

.about-top figure .scroll-icon {
  width: 100px;
	position: absolute;
	top: 87%;
	left: 50%;
  transform: translateX(-50%);
}

.about-top .scroll-icon img {
  width: 100%;
}

.about-top .top-img img {
  min-width: 100%;
  height: 100%;
}

.about-top .top-message-container,
.about-top .static-message {
  /* 上下左右中央寄せ */
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translateX(-50%);
  font-size: 128px;
}

.top-message {
  transform-style: preserve-3d;
}

.about-top .message {
  backface-visibility : visible;
  text-align: center;
  color: whitesmoke;
  min-width: 100vw;
}

.top-message .myname {
  transform: translateZ(50px);
}

.top-message .tisc {
  transform: rotateX(-90deg) translateZ(50px);
}

.about-profile > .section-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* class名が profile- で始まる全クラスに適応 */
.about-profile  div[class^="profile-"] {
  margin: 30px 60px;
}

.profile-info {
  font-size: .9em;
}

.profile-info dt {
  font-size: .75em;
}

.profile-info dd {
  height: 2.2em;
  margin-top: -28px;
	border-bottom: 2px dashed var(--main-color);
  font-weight: 600;
}

.profile-img {
  width: 300px;
  height: 450px;
  position: relative;
}

.profile-img img {
  width: 100%;
  margin-bottom: -35px;
}

.profile-img label {
  display: block;
  text-align: center;
  font-size: .6em;
}

.about-hobby > .section-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.section-label {
  width: 100vw;
  height: 240px;
  background-color: aquamarine;
}

/* .about-hobby: card */

.card {
  font-size: 24px;
  text-align: center;
  display: block;
  width: 420px;
  margin: 30px 85px;
}

.card .card-title {
  font-size: 1em;
  margin: -10px 0 25px 0;
  color: var(--main-color);
  border-top: solid 1.5px var(--main-color);
  border-bottom: solid 1.5px var(--main-color);
}

.card .card-subtitle {
  font-size: .5em;
  margin-top: -35px;
}

.card .card-body {
  font-size: .6em;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
}

.card .card-img {
  width: 400px;
  height: 250px;
}

.card .card-img img {
  height: 90%;
}

/* .about-cando: skills */

.skills-container {
  width: 75vw;
  margin: 0 auto;
}

.skills-container .skills-title {
  color: var(--main-color);
  font-size: .9em;
  text-align: center;
  margin: 40px 0 -20px 0;
}

.skills-container .skills-title span {
  position: relative;
}

.skills-container .skills-title span:before,
.skills-container .skills-title span:after {
  content: "";
  border-bottom: 2px solid var(--main-color);
  width: 45px;
  margin: 0 15px;
  position: absolute;
  bottom: 12px;
}

.skills-container .skills-title span:before {
  right: 100%;
}

.skills-container .skills-title span:after {
  left: 100%;
}

.skills-container .skills {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.skills-container .skill {
  position: relative;
  margin: 25px 35px;
  padding: 0 25px;
}

.skills-container .skill .skill-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: solid 2px rgba(200, 202, 206, 0.7);
  box-shadow: 2px 2.5px 4px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.skills-container .skill .skill-icon img {
  width: 100%;
  transform: scale(.7);
}

.skills-container .skill .skill-label {
  font-size: .7em;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
}

.thanks {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-size: 3em;
  line-height: 3.5em;
  margin-top: 50px;
}


/*  Target Page  */

.description {
  text-align: center;
  font-size: .8em;
  font-weight: 100;
  margin: 50px auto 10px auto;
  width: 800px;
  position: relative;
  padding: .75em .5em;
  border: 1.5px solid #7ED1E6;
}

.description:after {
  content: "Infomation";
  position: absolute;
  top: -1.6em;
  left: 10px;
  background: #fff;
  font-size: 1em;
  color: #7ED1E6;
  padding: 0 10px;
}

.target-tbl {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80vw;
    min-width: 800px;
}

.target-tbl td {
    padding: 10px;
    word-wrap: break-word;
}

.target-tbl tr{
  border-bottom: solid 2px white;
}

.target-tbl tr:last-child{
  border-bottom: none;
}

.target-tbl tr:last-child{
  border-bottom: none;
}

.target-tbl thead tr {
  text-align: center;
  font-size: 1.3em;
}

.target-tbl thead .head-subtitle {
  font-size: .5em;
  font-weight: 400;
  display: block;
  margin: -30px 0 -20px 0;
}

.target-tbl tbody tr {
  height: 120px;
}

.target-tbl tbody td:first-child {
  padding: 10px 25px;
  text-align: center;
  width: 15%;
  position: relative;
  color: white;
  font-size: 1.1em;
}

.target-tbl tbody td:first-child::after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 60px);
  right: -40px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
}

.target-tbl .summer { background-color: #A7D676; }
.target-tbl .autumn { background-color: #EE9C6A; }
.target-tbl .winter { background-color: #75CCE8; }
.target-tbl .spring { background-color: #F583B4; }

.target-tbl .summer td:first-child::after { border-left: solid 40px #A7D676; }
.target-tbl .autumn td:first-child::after { border-left: solid 40px #EE9C6A; }
.target-tbl .winter td:first-child::after { border-left: solid 40px #75CCE8; }
.target-tbl .spring td:first-child::after { border-left: solid 40px #F583B4; }

.target-tbl tbody td:not(:first-child) {
  font-size: .6em;
  font-weight: 500;
  line-height: 2em;
  background-color: whitesmoke;
  padding: 0 45px;
  border-right: solid 2px white;
}

.target-tbl tbody td.col-work {
  width: 43%;
  padding-left: 60px;
}
.target-tbl tbody td.col-personal {
  width: 42%;
}


/* Footer */

footer {
  width: 100vw;
  height: 50px;
  text-align: center;
  padding: 15px;
}

/* js制御用のスタイル */
.js-top-message-container,
.js-profile,
.js-hobby,
.js-cando {
  opacity: 0;
}